#mainMenu {
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
}
.boxShadow {
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.7);
}
.whiteBoxShadow {
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
body {
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
