span {
  color: white;
  text-align: center;
  display: block;
  border:1px solid white;
  line-height: 40px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}
span:hover {
  background-color: skyblue;
}
#container {
  overflow: hidden;
}

